.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
}
.product-name{
    color: blue;
    font-weight: 500;
}
.product-img{
    margin-right: 20px;
}
.main-button{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    background-color: goldenrod;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}